<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-btn-icon">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__film-info-container">
      <div class="modal__film-poster-wrapper">
        <img class="film-poster" src="./images/poster-not-find.jpg" alt="Постер до фільму" />
      </div>

      <div class="modal__film-info">
        <h2 class="modal__film-title">Spider-Man: No Way Home</h2>
        <table class="modal__table">
          <tbody>
            <tr>
              <td class="modal__table-refs">Vote / Votes</td>
              <td class="modal__table-value"><span class="list-card__rating">8.5</span> / 51</td>
            </tr>
            <tr>
              <td class="modal__table-refs">Popularity</td>
              <td class="modal__table-value">2901.7</td>
            </tr>
            <tr>
              <td class="modal__table-refs">Original Title</td>
              <td class="modal__table-value">Spider-Man: No Way Home</td>
            </tr>
            <tr>
              <td class="modal__table-refs">Genre</td>
              <td class="modal__table-value">Action, Adventure, Sci-Fi</td>
            </tr>
          </tbody>
        </table>

        <h3 class="modal__about-film">About</h3>
        <p class="modal__about-description">
          Peter Parker is unmasked and no longer able to separate his normal life from the
          high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes
          become even more dangerous, forcing him to discover what it truly means to be Spider-Man.
        </p>

        <div class="button-wrapper">
          <button class="button button-add-to-watched">add to Watched</button>
          <button class="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
